<h1>Listing Programs</h1>

<%= link_to 'New Program', new_program_path %>

<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th colspan="3">Options</th>
	</tr>

	<% @programs.each do |program| %>
		<tr>
			<td><%= program.name %></td>
			<td><%= program.description %></td>
			<td><%= link_to 'Show', program_path(program) %></td>
			<td><%= link_to 'Edit', edit_program_path(program) %></td>
			<td><%= link_to 'Destroy', program_path(program),
							method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>