<h1>New Program</h1>

<%= form_for :program, url: programs_path do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :description %><br>
		<%= f.text_area :description %>
	</p>

	<h2>Add a Station:</h2>
	<%= form_for([@article, @article.comments.build]) do |f| %>
		<p>
			<%= f.label :commenter %><br>
			<%= f.text_field :commenter %>
		</p>
		<p>
			<%= f.label :body %><br>
			<%= f.text_area :body %>
		</p>
		<p>
			<%= f.submit %>
		</p>
	<% end %>
	<p>
		<%= f.submit %>
	</p>
<% end %>